.header {
    height: 56px;
}

/* Sticky navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover {
    background-color: #007bff !important;
}


/* banner slider  */
.banner-slider {
    width: 100%;
    height: 400px;
}

.banner-slider img {
    height: 400px;
    /* adjust as needed */
}

.slider-container {
    padding: 20px;
}

.slick-slide img {
    width: 100%;
    height: 400px;
}


/* Testimonial section  */
.testimonial-section {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
}

.testimonial-section h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

.testimonial-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-author img {
    border-radius: 50%;
    margin-right: 20px;
}

.author-info h3 {
    font-size: 24px;
    margin: 0;
}

.author-info p {
    font-size: 18px;
    margin: 0;
    color: #999;
}


/* Button styles */
.slick-slider button {
    display: none !important;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 50%;
    z-index: 99;
}

.back-to-top:hover {
    background-color: #555;
}

.show {
    display: block;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer h3 {
    margin-bottom: 20px;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
}

.footer ul li a:hover {
    text-decoration: underline;
}


/* About Us Page  */

#about {
    padding: 50px;
    background-color: #f2f2f2;
}

#about h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

#about p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

#team {
    padding: 50px;
    background-color: #fff;
}

#team h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 18px;
}